/*Foot*/
.foot{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 22rem;
  }
  .foot_img{
    width: 150px;
    height: auto;
    padding-bottom: 20px;
  }
  .foot_content{
    width: 500px;
    height: auto;
  }
  .foot_content p{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    line-height: 2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .foot_content a{
    color: #4f4036;
  }
  .foot_bottom{
    display: flex;
    padding: 3rem 5rem;
  }
  .foot_bottom p{
    font-size: 14px;
    font-weight: 600;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  }
  .foot_svg{
  padding: 0 1rem;
    vertical-align: top;
    align-items: center;
    cursor: pointer;
  }
  .foot_svg i{
    padding: 0 5px;
  }
  @media only screen and (max-width:900px){ /*RWD : 900px*/
    .foot_img{
      width: 120px;
      height: auto;
      padding-bottom: 10px;
    }
    .foot_content p{
      line-height: 2;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  @media only screen and (max-width:767px){   /*   RWD: 767px */
/*Foot*/
.foot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding:4rem 0;
}
.foot_img{
  width: 100px;
  height: auto;
  padding-bottom: 20px;
}
.foot_content{

  width: 300px;
  height: auto;
}
.foot_content p{
  line-height: 2;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
}

.foot_bottom{
  display: flex;
  justify-content: start;
  padding: 0;
}
.foot_bottom p{
  font-size:1rem;
  font-weight: 600;
}
.foot_svg{
padding: 0 1rem;
  vertical-align: top;
  cursor: pointer;
}
.foot_svg i{
  padding: 0 5px;
}
/*Foot*/
  }