.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#faf7f7;
    max-width: 100%;
    height: auto;
  }
  .profile_img{
    display: flex;
    align-items: center;
    width: 300px;
    height:300px;
    margin: 50px 50px;
  }
  .profile_item{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: auto;
  }
  #profile{
    font-size: 1.5rem;
    box-shadow: 0 1.5px 0px rgb(74, 74, 74);
    max-width: 12%;
    height: auto;
    padding: 5px 0;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  }
  #name{
    font-size: 1.5rem;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: #3b3a3a;
  }
  #name span{
    font-size: 1.2rem;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    padding-left: 10px;
    color: #515151;
  }
  #introduction{
    font-size: calc( 30 - 1vw);
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  }
  @media only screen and (max-width:767px){ /*RWD : 900px*/
/*自我介紹*/
.profile{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color:#faf7f7;
  max-width: 100%;
  height: auto;
}
.profile_img{
  display: flex;
  align-items: center;
  width: 300px;
  height:300px;
  margin:0;
}
.profile_item{
  max-width: 80%;
  height: auto;
}
#profile{
  font-size: 1.4rem;
  box-shadow: 0 0 0px rgb(74, 74, 74);
  max-width: 100%;
  height: auto;
  padding:0;
}
#name{
  font-size: 1.2rem;
  color: #3b3a3a;
}
#name span{
  font-size: 1.1rem;
  padding-left: 10px;
  color: #515151;
}
#introduction{
  font-size: calc( 30 - 1vw);
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  font-size: 0.75rem;
}
/*自我介紹*/
  }